
/* RESET CSS */
/* Primeiro utilizamos o reset css para impedir os estilos nativos */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;

    text-align: center;
}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 840px) {

}

@media screen and (max-width: 736px) {
    article {
        width: 100% !important;
    }
}

nav {
    background-color: deepskyblue;
    color: #fff;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

header {
    height: 400px;
    padding-top: 40px;
    position: relative;
}

section {
    height: 100vh;
    position: relative;
}

article {
    float: left;
    height: 100%;
    width: 50%;
    position: static;
}

footer {
    height: 5em;
    position: relative;
}

button {
    bottom: 0;
    position: absolute;
}

input[type="button"] {
    bottom: 0;
}

div {
    width: 10em;
}

.centralizador-absolute {
    left: 50%;
    transform: translateX(-50%);
}

.centralizador-relativo {
    margin: 0 auto;
}

.content {
    background-color: deepskyblue;
}

.right {
    background-color: deepskyblue;
}
